<p>Register 1 works!</p>
<div>
    <label for="email">Email:</label>
    <input type="email" [(ngModel)]="email" name="email">
    <br>

    <label for="password">Contraseña:</label>
    <input type="password" [(ngModel)]="pwd1" name="password">
    <br>

    <label for="confirmPassword">Confirmar Contraseña:</label>
    <input type="password" [(ngModel)]="pwd2" name="confirmPassword">
    <br>

    <button (click)="registrar()">Registrar</button>

    <span *ngIf="respuestaOK">Registro realizado con exito</span>
    <span *ngIf="contraseniasCoinciden">Las contraseñas no coinciden</span>
</div>

