<div class="app-container">
    <!--
    <h1>Registro de Usuario con register1</h1>
    <app-gestor-listas></app-gestor-listas>
     Esta linea linkea el component register1 
    <app-register1></app-register1>
    <app-login1></app-login1>-->
    <nav>
        <a href="Login">Inicio</a>
        |
        <a href="Login">Login</a>
        |
        <a href="Register">Registro</a>
        |
        <a href="GestorListas">Gestor Listas</a>
        <br>
    </nav>
    <router-outlet></router-outlet>
</div>
  